<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body>
    <div class="container">
        <%- include("../partials/header", {pagina: "Sobre"}); %>

        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p class="lead mt-4">
                    Meu nome é Barry Allen e eu sou o homem mais rápido vivo. Quando era criança, vi minha mãe ser morta por algo impossível, meu pai foi condenado pelo homicídio dela, então um acidente me tornou o impossível. Para o mundo exterior, sou um cientista forense, mas secretamente uso minha velocidade para combater o crime e achar outros como eu, e um dia, encontrarei quem matou minha mãe e terei justiça para o meu pai. Eu sou o Flash!
                </p>
            </div>
        </main>

        <%- include("../partials/footer"); %>
    </div>
</body>
</html>